@page
@model IndexModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}